################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SloperMobile/SloperMobile/Model/AreaTemplate.cs
/SloperMobile/SloperMobile/Model/AreaTemplate.cs
/SloperMobile/SloperMobile.Droid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SloperMobile/SloperMobile.Droid
