<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.sloperclimbing.grandvalleyclimbinggym" android:versionCode="112" android:versionName="2">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="GVC" android:hardwareAccelerated="false" android:largeHeap="true" android:icon="@drawable/icon"></application>
</manifest>